version: 2
updates:
- package-ecosystem: "pip"
  directory: "/"
  schedule:
      interval: "daily"
  target-branch: "dev"    
  reviewers:
    - "danielcuthbert"
    - "javixeneize"
    - "pealtrufo"
