validators>=0.14.3
requests>=2.23.0
urllib3>=1.26.4
mock>=4.0.2
pytest==6.2.4
pytest-cov==2.12.0
wheel
tldextract>=2.2.3
flake8==3.9.2
bandit==1.7.0
safety==1.10.3
bump2version==1.0.1
twine==4.0.2
click>=7.1.2

